{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('static', filename='signin.css')}}">
{% endblock %}

{% block title %}login{% endblock %}
{% block content %}
  <div class="container">
    <form class="form-signin" method="POST">
      <h2 class="form-signin-heading">Please sign in</h2>
      {{ wtf.form_errors(form, hiddens="only") }}
      {{ form.username(class='form-control', placeholder='Username') }}
      {{ form.password(class='form-control', placeholder='Password') }}
      <p>{% trans %}Don't have an account?{% endtrans %} <a href="{{url_for('user.signup')}}">{% trans %}Sign up!{% endtrans %}</a></p>
      <p>{% trans %}Don't know your password?{% endtrans %} <a href="{{url_for('user.reset_password_start')}}">{% trans %}Reset password!{% endtrans %}</a></p>
      <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans %}Sign in{% endtrans %}</button>
      {{ form.hidden_tag() }}
    </form>
  </div>
{% endblock %}
