{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('static', filename='plugin-bootstrap-select-1.12.4/css/bootstrap-select.min.css')}}">
{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('static', filename='plugin-bootstrap-select-1.12.4/js/bootstrap-select.min.js')}}"></script>
{% endblock %}

{% macro show_form_errors(form, container = True) %}
{% if form.errors -%} {# don't output anything if there are no errors #}
{% if container -%}
  <div class="row">
    <div class="col-sm-12">
{% endif -%}
      <div class="alert alert-danger" role="alert">
        <p><strong>Errors when validating form data:</strong></p>
        {{ wtf.form_errors(form) }}
      </div>
{% if container %}
    </div>
  </div>
{% endif -%}
{% endif -%}
{% endmacro -%}

{% block title %}Mail-Auftrag bearbeiten{% endblock %}

{% block content %}
<div class="container">
  <form class="form-horizontal" method="POST">
  {{ form.hidden_tag() }}
  
  <div class="form-horizontal">
    {{ show_form_errors(form) }}

    <div class="form-group row">
      {{ form.subject.label(class='col-sm-3 control-label') }}
      <div class="col-sm-9">{% if readonly %}{{ form.subject(class='form-control', readonly='readonly') }}{% else %}{{ form.subject(class='form-control') }}{% endif %}</div>
    </div>
    <div class="form-group row{% if form.decision.errors %} has-error{% endif %}">
      {{ form.decision.label(class='col-sm-3 control-label') }}
      <div class="col-sm-9">
        {% if readonly %}
        {{form.decision(class='form-control', readonly='readonly')}}
        {% else %}
        {{form.decision(class='form-control selectpicker', **{'data-live-search':'true', 'data-selected-text-format':'count > 3'})}}
        {% endif %}
      </div>
    </div>
    <div class="form-group row">
      {{ form.message.label(class='col-sm-3 control-label') }}
      <div class="col-sm-9">{% if readonly %}{{ form.message(class='form-control', readonly='readonly') }}{% else %}{{ form.message(class='form-control') }}{% endif %}</div>
    </div>
    <div class="form-group row">
      {{ form.comment.label(class='col-sm-3 control-label') }}
      <div class="col-sm-9">{% if readonly %}{{ form.comment(class='form-control', readonly='readonly') }}{% else %}{{ form.comment(class='form-control') }}{% endif %}</div>
    </div>
    <div class="form-group row">
      <div class="col-sm-offset-3 col-sm-9">
        {{ form.submit(class='btn btn-lg btn-default') }}
      </div>
    </div>
  </div>
  </form>
</div>
{% endblock %}
