{% extends "base.html" %}

{% block title %}Beschlüsse{% endblock %}

{% block content %}
<div class="container">
  <h1>Beschlüsse</h1>

  <div class="btn-group" role="group">
    <a class="btn btn-default" href="{{url_for('stapf.decision_new')}}">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Neuer Beschluss
    </a>
  </div>

  <br />

  <div class="table-responsive">
  <table class='table'>
    <tr>
      <th>Beschlossen am</th>
      <th>Titel</th>
      <th>Datei</th>
      <th>Kommentar</th>
      <th>Aktionen</th>
    </tr>
    {% for decision in decisions %}
    <tr>
      <td>{{ decision.decided }}</td>
      <td>{{ decision.title }}</td>
      <td>
        <a href="{{url_for('stapf.decision_file', decision_id=decision.id)}}">
            PDF des Beschluss downloaden
        </a>
      </td>
      <td>{{ decision.comment }}</td>
      <td>
        <div class="btn-group" role="group">
          <a class="btn-default btn" href="{{url_for('stapf.decision', decision_id=decision.id)}}">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Bearbeiten
          </a>
          <a class="btn-danger btn" href="{{url_for('stapf.decision_delete', decision_id=decision.id)}}">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Löschen
          </a>
        </div>
      </td>
    </tr>
    {% endfor %}
  </table>
  </div>
</div>
{% endblock %}
