{% extends "base.html" %}

{% block title %}Adressaten{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
// Adapted from http://jsfiddle.net/ukW2C/3/
$("#search").keyup(function () {
      //split the current value of search
      var data = this.value.split(" ");

      //create a jquery object of the rows
      var jo = $("#recipients").find("tr");
      if (this.value == "") {
                jo.show();
                $("#search-group").removeClass("has-error");
                $("#search-group").removeClass("has-success");
                return;
            }
      //hide all the rows
      jo.hide();

      //Recusively filter the jquery object to get results.
      filtered = jo.filter(function (i, v) {
                var $t = $(this);
                for (var d = 0; d < data.length; ++d) {
                              if ($t.is(":contains('" + data[d] + "')")) {
                                                return true;
                                            }
                          }
                return false;
            });
      //show the rows that match.
      filtered.show();

      //update the search bar validation status
      if (filtered.length) {
        $("#search-group").addClass("has-success");
        $("#search-group").removeClass("has-error");
      } else {
        $("#search-group").addClass("has-error");
        $("#search-group").removeClass("has-success");
      }
}).focus(function () {
      this.value = "";
      $(this).unbind('focus');
});
</script>
{% endblock %}

{% block content %}
<div class="container">
  <h1>Adressaten</h1>

  <div id="search-group" class="form-group has-feedback">
    <label class="control-label sr-only" for="search">Suche für Adressaten</label>
    <div class="input-group">
      <span class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
      <input id="search" type="text" class="form-control input-lg" placeholder="Suche">
    </div>
  </div>

  <div class="btn-group" role="group">
    <a class="btn btn-default" href="{{url_for('stapf.recipient_new')}}">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Neuer Adressat
    </a>
  </div>

  <br />

  <div class="table-responsive">
  <table class='table'>
    <tr>
      <th>Name</th>
      <th>Organisation</th>
      <th>E-Mail</th>
      <th>Kommentar</th>
      <th>Actions</th>
    </tr>
    <tbody id="recipients">
    {% for recipient in recipients %}
    <tr>
      <td>{{ recipient.name }}</td>
      <td>{{ recipient.organisation_name }}</td>
      <td>{{ recipient.mail }}</td>
      <td>{{ recipient.comment }}</td>
      <td>
        <div class="btn-group" role="group">
          <a class="btn-default btn" href="{{url_for('stapf.recipient', recipient_id=recipient.id)}}">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Bearbeiten
          </a>
          <a class="btn-danger btn" href="{{url_for('stapf.recipient_delete', recipient_id=recipient.id)}}">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Löschen
          </a>
        </div>
      </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
  </div>
</div>
{% endblock %}
