{% extends "base.html" %}

{% block title %}WiSe20: Auswertungen{% endblock %}

{% block content %}
<div class="container">
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-body justify-content-between">
        <div>
          <span class="badge">{{ attendees }} Teilnehmika</span> aus <span class="badge">{{ registrations }} Anmeldungen</span> (Stand {{ datetime_string }}).
        </div> 
        <a class="btn-default btn" href="{{url_for('registration.registration_wise20_report_clear', target='all')}}">Alle Berichte aktualisieren</a>
    </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse-human-readable">
            Verfügbare Auswertungen für ZaPF Winter20 in Garching
          </a>
        </h4>
      </div>
      <div id="collapse-human-readable" class="panel-collapse collapse">
        <ul>
          <li>
            <a href="{{ url_for('registration.registration_wise20_report_exkursionen') }}">
              Exkursionen
            </a>
          </li>
          <li>
            <a href="{{ url_for('registration.registration_wise20_report_essen') }}">
              Essen
            </a>
          </li>
          <li>
            <a href="{{ url_for('registration.registration_wise20_report_rahmenprogramm') }}">
              Rahmenprogramm
            </a>
          </li>
          <li>
            <a href="{{ url_for('registration.registration_wise20_report_merch') }}">
              T-Shirts, Hoodies und anderes Merch
            </a>
          </li>
          
          <li>
            <a href="{{ url_for('registration.registration_wise20_report_tshirts') }}">
              T-Shirts
            </a>
          </li>
          <li>
            <a href="{{ url_for('registration.registration_wise20_report_hoodie') }}">
              Hoodies
            </a>
          </li>
          <li>
            <a href="{{ url_for('registration.registration_wise20_report_sonstiges') }}">
              Schlafen und Sonsiges
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse-machine-readable">
            Maschinenlesbare Auswertungen für ZaPF Winter20
          </a>
        </h4>
      </div>
      <div id="collapse-machine-readable" class="panel-collapse collapse">
        <ul>
          <li>
            gesamte Registrierung
            <a href="{{ url_for('registration.registrations_export_json') }}">json</a>
            <a href="{{ url_for('registration.registrations_export_csv') }}">csv</a>
          </li>
          <li>
            <a href="{{ url_for('registration.registrations_export_openslides_csv') }}">openslides</a>
          </li>
          <li>
            <a href="{{ url_for('registration.registrations_export_teilnehmer_csv') }}">Teilnehmer + Uni (csv)</a>
          </li>
          <li>
            <a href="{{ url_for('registration.registrations_export_attendee_csv') }}">Teilnehmer mit Prioritäten usw.</a>
          </li>
          <li>
            <a href="{{ url_for('registration.registrations_export_mails_txt') }}">Emails</a>
          </li>
          <li>
            <a href="{{ url_for('registration.registrations_wise20_export_id_name_csv') }}">ID + Name</a>
          </li>
          <li>
            <a href="{{ url_for('registration.registrations_wise20_export_wichteln_csv') }}">Wichteln (csv)</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse-latex">
            LaTeX-Vorlagen für ZaPF Winter20:
          </a>
        </h4>
      </div>
      <div id="collapse-latex" class="panel-collapse collapse">
        <ul>
          <li>
            <a href="{{ url_for('registration.registration_wise20_export_stimmkarten_latex') }}">Stimmkarten</a>
          </li>
          <li>
            <a href="{{ url_for('registration.registration_wise20_export_idkarten_latex') }}">ID-Karten</a>
          </li>
          <li>
            <a href="{{ url_for('registration.registration_wise20_export_tagungsausweise_latex') }}">Tagungsausweise</a>
          </li>
          <li>
            <a href="{{ url_for('registration.registration_wise20_export_strichlisten_latex') }}">Strichlisten</a>
          </li>
          <li>
            <a href="{{ url_for('registration.registration_wise20_export_bmbflisten_latex') }}">BMBF-Listen</a>
          </li>
          <li>
            <a href="{{ url_for('registration.registration_wise20_export_taschentassenlisten_latex') }}">Taschentassen-Listen</a>
          </li>
          <li>
            <a href="{{ url_for('registration.registration_wise20_export_ausweisidbeitraglisten_latex') }}">Ausweis-ID-Beitrag-Listen</a>
          </li>
          <li>
            <a href="{{ url_for('registration.registration_wise20_export_t_shirt_latex') }}">Tshirt</a>
          </li>
          <li>
            <a href="{{ url_for('registration.registration_wise20_export_exkursionen_latex') }}">Exkursionen</a>
          </li>
          <li>
            <a href="{{ url_for('registration.registration_wise20_export_unis_latex') }}">Unis</a>
          </li>
          <li>
            <a href="{{ url_for('registration.registration_wise20_export_unis_teilnehmer_latex') }}">Unis + Teilnehmer</a>
          </li>
          <li>
            <a href="{{ url_for('registration.registration_wise20_export_bestaetigungen_latex') }}">Bestätigungen</a>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
