{% extends "base.html" %}

{% block title %}WiSe17: Schlafen und Sonstiges{% endblock %}

{% block content %}
<div class="container">
  <a class="btn btn-default" href="{{ url_for('registration.registration_wise20_reports') }}">
    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Zurück
  </a>  
  <span class="label label-default">Stand {{ datetime_string }}</span>
  <a class="btn btn-primary pull-right" href="{{ url_for('registration.registration_wise20_report_clear', target = request.url_rule.endpoint ) }}">
    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Diesen Bericht aktualisieren
  </a>
  
  <h1>
  Schlafen und Sonstiges-Auswertung
  </h1>

  <h2 id="sec-essen">
    Auswertung der Unterkunft:
  </h2>
  <div class="panel-group">
  {% for option in result['unterkunft']['options'] %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse-schlafen-{{ option }}">
          {% if option == 'ja' %} Ich kann mich selbst um einen Schlafplatz kümmern, falls nötig {% else %} Ich brauche auf jeden Fall einen Schlafplatz {% endif %}
        </a>
        <span class="badge" style="float: right">{{ result['unterkunft'][option] | length }}</span>
      </h4>
    </div>
    <div id="collapse-schlafen-{{ option }}" class="panel-collapse collapse">
      <div class="table-responsive">
      <table class='table table-striped'>
        <tr>
          <th>Uni</th>
          <th>Name</th>
          <th>Aktionen</th>
        </tr>
        {% for reg in result['unterkunft'][option] %}
        <tr>
          <td>
          {% if reg.uni %}
            <a href="{{url_for('registration.registrations_by_uni', uni_id=reg.uni.id)}}">
              {{ reg.uni.name }}
            </a>
          {% endif %}
          </td>
          <td>
            <a href="{{ url_for('registration.registration_wise20_details_registration', reg_id=reg.id) }}">
              {{ reg.user.full_name }}
            </a>
          </td>
          <td>
            <div class="btn-group" role="group">
              <a class="btn btn-default" href="{{ url_for('registration.registration_wise20_details_registration', reg_id=reg.id) }}">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Details
              </a>
            </div>
          </td>
        </tr>
        {% endfor %}
      </table>
      </div>
    </div>
  </div>
  {% endfor %}
  </div>

  <h2 id="sec-essen">
    Auswertung des Immatrikulationsstatus:
  </h2>
  <div class="panel-group">
  {% for option in result['student']['options'] %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse-schlafen-{{ option }}">
          {% if option == 'ja' %} Immatrikuliert {% else %} Nicht immatrikuliert {% endif %}
        </a>
        <span class="badge" style="float: right">{{ result['student'][option] | length }}</span>
      </h4>
    </div>
    <div id="collapse-schlafen-{{ option }}" class="panel-collapse collapse">
      <div class="table-responsive">
      <table class='table table-striped'>
        <tr>
          <th>Uni</th>
          <th>Name</th>
          <th>Aktionen</th>
        </tr>
        {% for reg in result['student'][option] %}
        <tr>
          <td>
          {% if reg.uni %}
            <a href="{{url_for('registration.registrations_by_uni', uni_id=reg.uni.id)}}">
              {{ reg.uni.name }}
            </a>
          {% endif %}
          </td>
          <td>
            <a href="{{ url_for('registration.registration_wise20_details_registration', reg_id=reg.id) }}">
              {{ reg.user.full_name }}
            </a>
          </td>
          <td>
            <div class="btn-group" role="group">
              <a class="btn btn-default" href="{{ url_for('registration.registration_wise20_details_registration', reg_id=reg.id) }}">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Details
              </a>
            </div>
          </td>
        </tr>
        {% endfor %}
      </table>
      </div>
    </div>
  </div>
  {% endfor %}
  </div>

</div>
{% endblock %}
