{% extends "base.html" %}

{% block title %}WiSe17: Schlafen und Sonstiges{% endblock %}

<div> 
  <ul>
    <li>
      <a href="#sec-schlafen">Unterkunft-Auswertung</a>
    </li>
    <li>
      <a href="#sec-comments">Kommentare</a>
    </li>
    <li>
      <a href="#sec-imma">Immatrikulierte</a>
    </li>
    <li>
      <a href="#sec-stream">Auswertung der Stream-Umfrage</a>
    </li>
    <li>
      <a href="#sec-minderjaehrig">Minderjährige</a>
    </li>
  </ul>
</div>

{% block content %}
<div class="container">
  <a class="btn btn-default" href="{{ url_for('registration.registration_wise20_reports') }}">
    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Zurück
  </a>  
  <span class="label label-default">Stand {{ datetime_string }}</span>
  <a class="btn btn-primary pull-right" href="{{ url_for('registration.registration_wise20_report_clear', target = request.url_rule.endpoint ) }}">
    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Diesen Bericht aktualisieren
  </a>
  
  <h1>
  Schlafen und Sonstiges-Auswertung
  </h1>

  <h2 id="sec-schlafen">
    Auswertung der Unterkunft:
  </h2>
  <div class="panel-group">
  {% for option in result['unterkunft']['options'] %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse-schlafen-{{ option }}">
          {% if option == 'ja' %} Ich kann mich selbst um einen Schlafplatz kümmern, falls nötig {% else %} Ich brauche auf jeden Fall einen Schlafplatz {% endif %}
        </a>
        <span class="badge" style="float: right">{{ result['unterkunft'][option] | length }}</span>
      </h4>
    </div>
    <div id="collapse-schlafen-{{ option }}" class="panel-collapse collapse">
      <div class="table-responsive">
      <table class='table table-striped'>
        <tr>
          <th>Uni</th>
          <th>Name</th>
          <th>Aktionen</th>
        </tr>
        {% for reg in result['unterkunft'][option] %}
        <tr>
          <td>
          {% if reg.uni %}
            <a href="{{url_for('registration.registrations_by_uni', uni_id=reg.uni.id)}}">
              {{ reg.uni.name }}
            </a>
          {% endif %}
          </td>
          <td>
            <a href="{{ url_for('registration.registration_wise20_details_registration', reg_id=reg.id) }}">
              {{ reg.user.full_name }}
            </a>
          </td>
          <td>
            <div class="btn-group" role="group">
              <a class="btn btn-default" href="{{ url_for('registration.registration_wise20_details_registration', reg_id=reg.id) }}">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Details
              </a>
            </div>
          </td>
        </tr>
        {% endfor %}
      </table>
      </div>
    </div>
  </div>
  {% endfor %}
  </div>

  <h2 id="sec-comments">
    Kommentare:
  </h2>
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse-comments">
            Kommentare
          </a>
          <span class="badge" style="float: right">{{ result['comments'] | length }}</span>
        </h4>
      </div>
      <div id="collapse-comments" class="panel-collapse collapse">
        <div class="table-responsive">
        <table class='table table-striped'>
          <tr>
            <th>Uni</th>
            <th>Name</th>
            <th>Kommentar</th>
            <th>Aktionen</th>
          </tr>
          {% for reg in result['comments'] %}
          <tr>
            <td>
            {% if reg.uni %}
              <a href="{{url_for('registration.registrations_by_uni', uni_id=reg.uni.id)}}">
                {{ reg.uni.name }}
              </a>
            {% endif %}
            </td>
            <td>
              <a href="{{ url_for('registration.registration_wise20_details_registration', reg_id=reg.id) }}">
                {{ reg.user.full_name }}
              </a>
            </td>
            <td>
              {{ reg.data['kommentar'] }}
            </td>
            <td>
              <div class="btn-group" role="group">
                <a class="btn btn-default" href="{{ url_for('registration.registration_wise20_details_registration', reg_id=reg.id) }}">
                  <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Details
                </a>
              </div>
            </td>
          </tr>
          {% endfor %}
        </table>
        </div>
      </div>
    </div>
    </div>

  <h2 id="sec-imma">
    Auswertung des Immatrikulationsstatus:
  </h2>
  <div class="panel-group">
  {% for option in result['student']['options'] %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse-student-{{ option }}">
          {% if option == 'ja' %} Immatrikuliert {% else %} Nicht immatrikuliert {% endif %}
        </a>
        <span class="badge" style="float: right">{{ result['student'][option] | length }}</span>
      </h4>
    </div>
    <div id="collapse-student-{{ option }}" class="panel-collapse collapse">
      <div class="table-responsive">
      <table class='table table-striped'>
        <tr>
          <th>Uni</th>
          <th>Name</th>
          <th>Aktionen</th>
        </tr>
        {% for reg in result['student'][option] %}
        <tr>
          <td>
          {% if reg.uni %}
            <a href="{{url_for('registration.registrations_by_uni', uni_id=reg.uni.id)}}">
              {{ reg.uni.name }}
            </a>
          {% endif %}
          </td>
          <td>
            <a href="{{ url_for('registration.registration_wise20_details_registration', reg_id=reg.id) }}">
              {{ reg.user.full_name }}
            </a>
          </td>
          <td>
            <div class="btn-group" role="group">
              <a class="btn btn-default" href="{{ url_for('registration.registration_wise20_details_registration', reg_id=reg.id) }}">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Details
              </a>
            </div>
          </td>
        </tr>
        {% endfor %}
      </table>
      </div>
    </div>
  </div>
  {% endfor %}
  </div>

  <h2 id="sec-stream">
    Auswertung der Stream-Umfrage
  </h2>
  <div class="panel panel-default">
    {{ result['stream']['options']['ja'] }} <span class="label label-success">{{ result['stream']['ja'] }}</span>
    {{ result['stream']['options']['japasswort'] }} <span class="label label-warning">{{ result['stream']['japasswort'] }}</span>
    {{ result['stream']['options']['nein'] }} <span class="label label-danger">{{ result['stream']['nein'] }}</span>
  </div>

  <h2 id="sec-minderjaehrig">
    Liste der Minderjährigen:
  </h2>
  <div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse-minderjaehrig-{{ option }}">
          Minderjährige Teilnehmika
        </a>
        <span class="badge" style="float: right">{{ result['minderjaehrig'] | length }}</span>
      </h4>
    </div>
    <div id="collapse-student-{{ option }}" class="panel-collapse collapse">
      <div class="table-responsive">
      <table class='table table-striped'>
        <tr>
          <th>Uni</th>
          <th>Name</th>
          <th>Aktionen</th>
        </tr>
        {% for reg in result['minderjaehrig'][option] %}
        <tr>
          <td>
          {% if reg.uni %}
            <a href="{{url_for('registration.registrations_by_uni', uni_id=reg.uni.id)}}">
              {{ reg.uni.name }}
            </a>
          {% endif %}
          </td>
          <td>
            <a href="{{ url_for('registration.registration_wise20_details_registration', reg_id=reg.id) }}">
              {{ reg.user.full_name }}
            </a>
          </td>
          <td>
            <div class="btn-group" role="group">
              <a class="btn btn-default" href="{{ url_for('registration.registration_wise20_details_registration', reg_id=reg.id) }}">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Details
              </a>
            </div>
          </td>
        </tr>
        {% endfor %}
      </table>
      </div>
    </div>
  </div>
  </div>

</div>
{% endblock %}
