{% extends "base.html" %}

{% block title %}SoSe22: Essen{% endblock %}

{% block content %}
<div class="container">
  <a class="btn btn-default" href="{{ url_for('registration.registration_sose22_reports') }}">
    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Zurück
  </a>  
  <span class="label label-default">Stand {{ datetime_string }}</span>
  <a class="btn btn-primary pull-right" href="{{ url_for('registration.registration_sose22_report_clear', target = request.url_rule.endpoint ) }}">
    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Diesen Bericht aktualisieren
  </a>
  
  <h1>
  Essen-Auswertung für ZaPF Sommer 22
  </h1>

  <div> 
    <ul>
      <li>
        <a href="#sec-essen">Essens-Auswertung</a>
      </li>
      <li>
        <a href="#sec-allergien">Allergien-Auswertung</a>
      </li>
      <li>
        <a href="#sec-alkohol">Alkohol-Auswertung</a>
      </li>
    </ul>
  </div>


  <h2 id="sec-essen">
    Auswertung der Essenstypen:
  </h2>
  <div class="panel-group">
  {% for type, data in result['essen'].items() %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse-essen-{{ type }}">
          Essenstyp: {{ data['label'] }}
        </a>
        <span class="badge" style="float: right">{{ data['registrations'] | length }}</span>
      </h4>
    </div>
    <div id="collapse-essen-{{ type }}" class="panel-collapse collapse">
      <div class="table-responsive">
      <table class='table table-striped'>
        <tr>
          <th>Uni</th>
          <th>Name</th>
          <th>Brötchen</th>
          <th>Aktionen</th>
        </tr>
        {% for reg in data['registrations'] %}
        <tr>
          <td>
          {% if reg.uni %}
            <a href="{{url_for('registration.registrations_by_uni', uni_id=reg.uni.id)}}">
              {{ reg.uni.name }}
            </a>
          {% endif %}
          </td>
          <td>
            <a href="{{ url_for('registration.registration_sose22_details_registration', reg_id=reg.id) }}">
              {{ reg.user.full_name }}
            </a>
          </td>
          <td>
              {{ reg.data['essensmenge'] }}
          </td>
          <td>
            <div class="btn-group" role="group">
              <a class="btn btn-default" href="{{ url_for('registration.registration_sose22_details_registration', reg_id=reg.id) }}">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Details
              </a>
            </div>
          </td>
        </tr>
        {% endfor %}
      </table>
      </div>
    </div>
  </div>
  {% endfor %}
  </div>

  <h2 id="sec-allergien">
    Auswertung der Essgewohnheiten:
  </h2>
  {% if result['allergien'] | length == 0 %}
  <p>Keine Registrierung mit Essgewohnheiten vorhanden!
  {% else %}
  <div class="table-responsive">
  <table class='table table-striped'>
    <tr>
      <th>Uni</th>
      <th>Name</th>
      <th>Allergien</th>
      <th>Essensformen</th>
      <th>Aktionen</th>
    </tr>
    {% for reg in result['allergien'] %}
    <tr>
      <td>
      {% if reg.uni %}
        <a href="{{url_for('registration.registrations_by_uni', uni_id=reg.uni.id)}}">
          {{ reg.uni.name }}
        </a>
      {% endif %}
      </td>
      <td>
        <a href="{{ url_for('registration.registration_sose22_details_registration', reg_id=reg.id) }}">
          {{ reg.user.full_name }}
        </a>
      </td>
      <td>
        {{ reg.data['allergien'] }}
      </td>
      <td>
        {{ reg.data['essensformen'] }}
      </td>
      <td>
        <div class="btn-group" role="group">
          <a class="btn btn-default" href="{{ url_for('registration.registration_sose22_details_registration', reg_id=reg.id) }}">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Details
          </a>
        </div>
      </td>
    </tr>
    {% endfor %}
  </table>
  </div>  
  {% endif %}

  <h2 id="sec-heissgetraenke">
    Auswertung der Heißgetränke:
  </h2>
  <div class="panel-group">
  {% for type, data in result['heissgetraenk'].items() %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse-heissgetraenk-{{ type }}">
          Heisgetränk: {{ type }}
        </a>
        <span class="badge" style="float: right">{{ data | length }}</span>
      </h4>
    </div>
    <div id="collapse-heissgetraenk-{{ type }}" class="panel-collapse collapse">
      <div class="table-responsive">
      <table class='table table-striped'>
        <tr>
          <th>Uni</th>
          <th>Name</th>
          <th>Aktionen</th>
        </tr>
        {% for reg in data %}
        <tr>
          <td>
          {% if reg.uni %}
            <a href="{{url_for('registration.registrations_by_uni', uni_id=reg.uni.id)}}">
              {{ reg.uni.name }}
            </a>
          {% endif %}
          </td>
          <td>
            <a href="{{ url_for('registration.registration_sose22_details_registration', reg_id=reg.id) }}">
              {{ reg.user.full_name }}
            </a>
          </td>
          <td>
            <div class="btn-group" role="group">
              <a class="btn btn-default" href="{{ url_for('registration.registration_sose22_details_registration', reg_id=reg.id) }}">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Details
              </a>
            </div>
          </td>
        </tr>
        {% endfor %}
      </table>
      </div>
    </div>
  </div>
  {% endfor %}
  </div>

  <h2 id="sec-alkohol">
    Auswertung des Alkoholkonsums:
  </h2>
  <div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse-alkohol">
          Ich trinke Alkohol
        </a>
        <span class="badge" style="float: right">{{ result['alkohol'] | length }}</span>
      </h4>
    </div>
    <div id="collapse-alkohol" class="panel-collapse collapse">
      <div class="table-responsive">
      <table class='table table-striped'>
        <tr>
          <th>Uni</th>
          <th>Name</th>
          <th>Aktionen</th>
        </tr>
        {% for reg in result['alkohol'] %}
        <tr>
          <td>
          {% if reg.uni %}
            <a href="{{url_for('registration.registrations_by_uni', uni_id=reg.uni.id)}}">
              {{ reg.uni.name }}
            </a>
          {% endif %}
          </td>
          <td>
            <a href="{{ url_for('registration.registration_sose22_details_registration', reg_id=reg.id) }}">
              {{ reg.user.full_name }}
            </a>
          </td>
          <td>
            <div class="btn-group" role="group">
              <a class="btn btn-default" href="{{ url_for('registration.registration_sose22_details_registration', reg_id=reg.id) }}">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Details
              </a>
            </div>
          </td>
        </tr>
        {% endfor %}
      </table>
      </div>
    </div>
  </div>
  </div>
</div>
{% endblock %}
