{% extends "base.html" %}

{% block title %}SoSe22: Rahmenprogramm{% endblock %}

<div> 
  <ul>
    <li>
      <a href="#sec-bierak">Bier AK</a>
    </li>
    <li>
      <a href="#sec-casino">Casino</a>
    </li>
  </ul>
</div>

{% block content %}
<div class="container">
  <a class="btn btn-default" href="{{ url_for('registration.registration_sose22_reports') }}">
    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Zurück
  </a>  
  <span class="label label-default">Stand {{ datetime_string }}</span>
  <a class="btn btn-primary pull-right" href="{{ url_for('registration.registration_sose22_report_clear', target = request.url_rule.endpoint ) }}">
    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Diesen Bericht aktualisieren
  </a>
  
  <h1>
  Rahmenprogramm
  </h1>

  <h2 id="sec-bierak">
    Bier AK:
  </h2>
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse-bierak">
            Bier AK
          </a>
          <span class="badge" style="float: right">{{ result['bierak'] | length }}</span>
        </h4>
      </div>
      <div id="collapse-bierak" class="panel-collapse collapse">
        <div class="table-responsive">
        <table class='table table-striped'>
          <tr>
            <th>Uni</th>
            <th>Name</th>
            <th>Bier AK</th>
            <th>Aktionen</th>
          </tr>
          {% for reg in result['bierak'] %}
          <tr>
            <td>
            {% if reg.uni %}
              <a href="{{url_for('registration.registrations_by_uni', uni_id=reg.uni.id)}}">
                {{ reg.uni.name }}
              </a>
            {% endif %}
            </td>
            <td>
              <a href="{{ url_for('registration.registration_sose22_details_registration', reg_id=reg.id) }}">
                {{ reg.user.full_name }}
              </a>
            </td>
            <td>
              {{ reg.data['bierak'] }}
            </td>
            <td>
              <div class="btn-group" role="group">
                <a class="btn btn-default" href="{{ url_for('registration.registration_sose22_details_registration', reg_id=reg.id) }}">
                  <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Details
                </a>
              </div>
            </td>
          </tr>
          {% endfor %}
        </table>
        </div>
      </div>
    </div>
    </div>

  <h2 id="sec-casino">
    Casino:
  </h2>
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse-casino">
            Abendgarderobe für den Casinoabend
          </a>
          <span class="badge" style="float: right">{{ result['casino'] | length }}</span>
        </h4>
      </div>
      <div id="collapse-casino" class="panel-collapse collapse">
        <div class="table-responsive">
        <table class='table table-striped'>
          <tr>
            <th>Uni</th>
            <th>Name</th>
            <th>Abendgarderobe</th>
            <th>Aktionen</th>
          </tr>
          {% for reg in result['casino'] %}
          <tr>
            <td>
            {% if reg.uni %}
              <a href="{{url_for('registration.registrations_by_uni', uni_id=reg.uni.id)}}">
                {{ reg.uni.name }}
              </a>
            {% endif %}
            </td>
            <td>
              <a href="{{ url_for('registration.registration_sose22_details_registration', reg_id=reg.id) }}">
                {{ reg.user.full_name }}
              </a>
            </td>
            <td>
              {{ reg.data['casino'] }}
            </td>
            <td>
              <div class="btn-group" role="group">
                <a class="btn btn-default" href="{{ url_for('registration.registration_sose22_details_registration', reg_id=reg.id) }}">
                  <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Details
                </a>
              </div>
            </td>
          </tr>
          {% endfor %}
        </table>
        </div>
      </div>
    </div>
    </div>
</div>
{% endblock %}
