{% extends "base.html" %}

{% block title %}WiSe18: Schlafen und Sonstiges{% endblock %}

{% block content %}
<div class="container">
  <div class="btn-group" role="group">
    <a class="btn btn-default" href="{{ url_for('registration.registration_wise18_reports') }}">
      <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Zurück
    </a>
  </div>

  <h1>
  Schlafen und Sonstiges-Auswertung für ZaPF Winter18
  </h1>

  <h2 id="sec-essen">
    Auswertung der Schlafstätten:
  </h2>
  <div class="panel-group">
  {% for type, data in result_schlafen.items() %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse-schlafen-{{ type }}">
          Schlafstätte: {{ data['label'] }}
        </a>
        <span class="badge" style="float: right">{{ data['registrations'] | length }}</span>
      </h4>
    </div>
    <div id="collapse-schlafen-{{ type }}" class="panel-collapse collapse">
      <div class="table-responsive">
      <table class='table table-striped'>
        <tr>
          <th>Uni</th>
          <th>Name</th>
          <th>Aktionen</th>
        </tr>
        {% for reg in data['registrations'] %}
        <tr>
          <td>
          {% if reg.uni %}
            <a href="{{url_for('registration.registrations_by_uni', uni_id=reg.uni.id)}}">
              {{ reg.uni.name }}
            </a>
          {% endif %}
          </td>
          <td>
            <a href="{{ url_for('registration.registration_wise18_details_registration', reg_id=reg.id) }}">
              {{ reg.user.full_name }}
            </a>
          </td>
          <td>
            <div class="btn-group" role="group">
              <a class="btn btn-default" href="{{ url_for('registration.registration_wise18_details_registration', reg_id=reg.id) }}">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Details
              </a>
            </div>
          </td>
        </tr>
        {% endfor %}
      </table>
      </div>
    </div>
  </div>
  {% endfor %}
  </div>

  <h2 id="sec-kommentar" name="sec-groesse"
    Kommentare
  </h2>
  <div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse-kommentar">
          Kommentare
        </a>
        <span class="badge" style="float: right">{{ result_kommentar | length }}</span>
      </h4>
    </div>
    <div id="collapse-kommentar" class="panel-collapse collapse">
      <div class="table-responsive">
      <table class='table table-striped'>
        <tr>
          <th>Uni</th>
          <th>Name</th>
          <th>Aktionen</th>
        </tr>
        {% for reg in result_kommentar %}
        <tr>
          <td>
          {% if reg.uni %}
            <a href="{{url_for('registration.registrations_by_uni', uni_id=reg.uni.id)}}">
              {{ reg.uni.name }}
            </a>
          {% endif %}
          </td>
          <td>
            <a href="{{ url_for('registration.registration_wise18_details_registration', reg_id=reg.id) }}">
              {{ reg.user.full_name }}
            </a>
          </td>
          <td>
            <div class="btn-group" role="group">
              <a class="btn btn-default" href="{{ url_for('registration.registration_wise18_details_registration', reg_id=reg.id) }}">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Details
              </a>
            </div>
          </td>
        </tr>
        {% endfor %}
      </table>
      </div>
    </div>
  </div>
  </div>

  <h2id="sec-kommentar" name="sec-groesse">
      Minderjährige:
  </h2>
  <div class="list-group">
    {% if result_minderjaehrig == [] %}
    <div class="list-group-item list-group-item-success">
        <h4 class="list-group-heading">Keine Minderjährigen Zapfika.</h4>
      </div>
    {% else %}
  <div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading list-group-item-danger">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse-minderjaehrig">
          MINDERJÄHRIGE ZAPFIKA
        </a>
        <span class="badge" style="float: right">{{ result_minderjaehrig | length }}</span>
      </h4>
    </div>
    <div id="collapse-minderjaehrig" class="panel-collapse collapse">
      <div class="table-responsive">
      <table class='table table-striped'>
        <tr>
          <th>Uni</th>
          <th>Name</th>
          <th>Aktionen</th>
        </tr>
        {% for reg in result_minderjaehrig %}
        <tr>
          <td>
          {% if reg.uni %}
            <a href="{{url_for('registration.registrations_by_uni', uni_id=reg.uni.id)}}">
              {{ reg.uni.name }}
            </a>
          {% endif %}
          </td>
          <td>
            <a href="{{ url_for('registration.registration_wise18_details_registration', reg_id=reg.id) }}">
              {{ reg.user.full_name }}
            </a>
          </td>
          <td>
            <div class="btn-group" role="group">
              <a class="btn btn-default" href="{{ url_for('registration.registration_wise18_details_registration', reg_id=reg.id) }}">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Details
              </a>
            </div>
          </td>
        </tr>
        {% endfor %}
      </table>
      </div>
    </div>
    {% endif %}
  </div>
  </div>




</div>
{% endblock %}
