 {% extends "base.html" %}

{% block title %}OAuth2 Client applications{% endblock %}

{% block content %}


<div class="container">

  <h1>OAuth2 Applications</h1>

  <table class='table'>
    <tr>
      <th>Name</th>
      <th>Client ID</th>
      <th>Client Secret</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  {% for client in clients %}
    <tr>
      <td>{{client.name}}</td>
      <td>{{client.client_id}}</td>
      <td>{{client.client_secret}}</td>
      <td>{{client.description}}</td>
      <td>
        <div class="btn-group" role="group">
          <a class="btn-default btn" href="{{url_for('oauth2.edit_client', client_id=client.client_id)}}">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
          </a>
          <a class="btn-danger btn" href="{{url_for('oauth2.delete_client', client_id=client.client_id)}}">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
          </a>
        </div>
      </td>
    </tr>
  {% endfor %}
  </table>
  <a class="btn btn-default" href="{{url_for('oauth2.add_client')}}">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Client
  </a>

  <h1>{% trans %}Scopes{% endtrans %}</h1>

  <table class='table'>
    <tr>
      <th>{% trans %}Name{% endtrans %}</th>
      <th>{% trans %}Description{% endtrans %}</th>
      <th>{% trans %}Groups{% endtrans %}</th>
      <th>{% trans %}Actions{% endtrans %}</th>
    </tr>
  {% for scope in scopes %}
    <tr>
      <td>{{scope.name}}</td>
      <td>{{scope.description}}</td>
      <td>
        <ul>
          {% for group in scope.groups %}
          <li>{{ group.group_name }}</li>
          {% else %}
          {% trans %}All{% endtrans %}
          {% endfor %}
        </ul>
      </td>
      <td>
        <div class="btn-group" role="group">
          <a class="btn-default btn" href="{{url_for('oauth2.edit_scope', scope_name=scope.name)}}">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> {% trans %}Edit{% endtrans %}
          </a>
          <a class="btn-danger btn" href="{{url_for('oauth2.delete_scope', scope_name=scope.name)}}">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> {% trans %}Delete{% endtrans %}
          </a>
        </div>
      </td>
    </tr>
  {% endfor %}
  </table>
  <a class="btn btn-default" href="{{url_for('oauth2.add_scope')}}">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {% trans %}Add Scope{% endtrans %}
  </a>
</div>

{% endblock %}
